@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .move_orb {
    animation: moveOrb 15s linear infinite;
  }

  @keyframes moveOrb {
    0% {
      transform: translate(0, 0);
    }
    50% {
      transform: translate(400px, 500px);
    }
    100% {
      transform: translate(0, 0);
    }
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  font-family: "Nunito", sans-serif;
  font-size: clamp(1rem, 1.5vw, 1.2rem);
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #222260;
}
